<!DOCTYPE html>
<html>
    <head>
        <title> Pixabay Search (Express Version) </title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1> Pixabay Search Results </h1><br>
        <form action="/results">
            Keyword: <input type="text" name="keyword"><br><br>
            Orientation: <select id="orientation">
                <option value="">Select One</option>
                <option value="horizontal">Horizontal</option>
                <option value="vertical">Vertical</option>
            </select>
            <button> Search! </button>
            <hr>
        </form> <br>
        
        <img src='<%= image1 %>' width='250'>
        <img src='<%= image2 %>' width='250'>
        <img src='<%= image3 %>' width='250'>
        <img src='<%= image4 %>' width='250'><br><br>
        <img src='<%= image5 %>' width='250'>
        <img src='<%= image6 %>' width='250'>
        <img src='<%= image7 %>' width='250'>
        
    </body>
</html>